<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHARMAGEST</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1 class="text-center">PHARMAGEST</h1>
            <form (ngSubmit)="iniciarSesion()" id="formUsuario" class="login-form">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="usuario.nombreusuario" [ngModelOptions]="{standalone:true}"
                        placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" [ngModelOptions]="{standalone:true}"
                        placeholder="Password" required>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Ingresar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

