<div class=" sticky-top">
  <div class="container-fluid p-0">
    <div class="row ">
      <app-bienvenida></app-bienvenida>

    </div>

    <div class="row p-0" style="background-color: white;" >
      <div class="col-4">
        <h2> Ingresar Empleados</h2>
        <hr class="overflow-hidden">
      </div>
      <div class="col-8">
        <h2>Consultar Empleados</h2>
        <hr class="overflow-hidden">
      </div>
    </div>
  </div>
    </div>

<div class="container-fluid">


  <div class="row">
      <!-- Columna Izquierda (4 bloques) -->

      <div class="col-4 justify-content-start" >
        <div style="position: fixed">


          <form (ngSubmit)="crearEmpleado()" id="formEmpleado">
            <input type="text" [(ngModel)]="empleado.codigoempleado" [ngModelOptions]="{standalone:true}"
                  placeholder="Id" >
              <br><br>
              <input type="date" [(ngModel)]="empleado.fechaingreso" [ngModelOptions]="{standalone:true}"
                  placeholder="Ingreso" required>
              <br><br>
              <input type="tex" [(ngModel)]="empleado.salariobase" [ngModelOptions]="{standalone:true}"
                  placeholder="Sueldo" >
              <br><br>
              <input type="date" [(ngModel)]="empleado.fechaegreso" [ngModelOptions]="{standalone:true}"
                  placeholder="Egreso" >
              <br><br>
              <input type="submit" class="btn btn-success" value="Save">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-secondary" (click)="Limpiar()">Clean</button>
          </form>

        </div>
    </div>


      <!-- Columna Derecha (8 bloques) -->
      <div class="col-8">
        <div class="container">

          <table class="table p-0">
              <thead>
                  <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Fecha Registro</th>
                      <th scope="col">Salario</th>
                      <th scope="col">Fecha Egreso</th>
                      <th scope="col">Acciones</th>
                      <!-- <th scope="col">nombre</th> -->
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let u of empleados">
                      <th scope="row">{{u.codigoempleado}}</th>
                      <td>{{u.fechaingreso | date:'dd/MM/yyyy'}}</td>
                      <td>{{u.salariobase}}</td>
                      <td>{{u.fechaegreso | date:'dd/MM/yyyy'}}</td>
                      <td>
                          <button class="btn btn-warning" (click)="modificar(u)">Modificar </button>
                          &nbsp;
                          <button class="btn btn-danger" (click)="Eliminar(u)">Eliminar</button>
                      </td>

                  </tr>
              </tbody>
          </table>

        </div>
      </div>
  </div>
</div>


